@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

:root {
  --primary: #18181b;
  --secondary: #e5e7eb;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

* {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-style: normal;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  display: none;
}

.nameheading {
  font-size: 2vw;
  left: 12vw;
  margin-bottom: 3vw;
}

.namesubheading {
  font-size: 4vw;
  left: 15vw;
  font-weight: 1000;
  width: 60vw;
}

.fp_container {
  background: var(--secondary);
  margin: 0;
  display: flex; 
  color: var(--primary);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  left: 12vh;
}

.fp_container>*::selection {
  background-color: var(--primary);
  color: var(--secondary);
}

.about {
  height: 80vh;
  background-color: var(--primary);
  color: var(--secondary);
  position: relative;
  display: flex;
  align-items: center;
}
.portrait{
  width: 40vw;
  left: 12vw;
  padding: 1vw;
  position: absolute;
}
.portrait img{
 /* border-radius: 50%; */ 
width: 25vw;
filter: drop-shadow(0 0 0.2rem var(--secondary) );
}
.about-me {
  font-size: 2vw;
  width: 40vw;
  padding: 1vw;
  position: absolute;
  right: 12vw;
}

.about *::selection {
  color: var(--primary);
  background-color: var(--secondary);
}

.work {
  height: 80vh;  
  background-color: var(--secondary);
  color: var(--primary);
  position: relative;
  display: flex;
  align-items: center;
}

.my-work {
  font-size: 2vw;
  width: 40vw;
  padding: 1vw;
  position: absolute;
  left: 12vw;
}

.contact {
  height: 80vh;  
  background-color: var(--primary);
  color: var(--secondary);
  position: relative;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .nameheading, .namesubheading{
    width: 80vw;
  }
  .namesubheading{
    font-size: large;
  }
  .nameheading{
    font-size: xx-large;
  }
  .about {
    flex-direction: column;
    align-items: center;
  }

  .portrait, .about-me {
    width: 80vw;
    left: 10vw; 
    right: 10vw; 
    position: static;
    margin-bottom: 1.8vh; 
    margin:auto;
    font-size: large;
  }
  .portrait{
    text-align: center;
  }
  .portrait img{
  width: 60vw;
  }
}
